.achivment__section{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 270px));
  gap: 20px;
  align-items: stretch;
  justify-content: space-between;
}

.achivment__img{
  width: 100%;
  height: auto;
  cursor: pointer;
}

.achivment__img:hover{
  transition: all 0.3s ease;
  box-shadow: 0 7px 10px #737272;
}

@media screen and (max-width: 1024px) {
  .achivment__section{
    grid-template-columns: repeat(3, minmax(150px, 270px));
  }
}

@media screen and (max-width: 625px) {
  .achivment__section{
    grid-template-columns: repeat(2, minmax(150px, 270px));
  }
}

@media screen and (max-width: 425px) {
  .achivment__section{
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
