.breadCrumbs{
  margin-bottom: 10px;
}

.breadCrumbs__container{
  width: 90%;
  margin: 0 auto;
}

.breadCrumbs__items{
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.breadCrumbs__item{
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: relative;
}

.breadCrumbs__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../../img/breadCrumbs.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  display: inline-block;
  right: -5px;
}

.breadCrumbs__link{
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;

  margin-right: 20px;

  text-decoration: none;
  color: #268237;
}

.breadCrumbs__link:hover{
  color: #000;
}

.breadCrumbs__imgItem{
  width: 25px;
  height: 25px;
  background-image: url('../../img/home-page-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;

  cursor: pointer;
  margin-right: 10px;
  display: block;
  padding: 0;
}

.breadCrumbs__imgItem:hover{
  background-image: url('../../img/home-page-black.svg');
}

.breadCrumbs__text{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;

  position: relative;
  margin-right: 20px;
}

@media screen and (max-width: 1280px) {
  .breadCrumbs__container{
    width: 85.94%;
  }
}

@media screen and (max-width: 1024px) {

}
  
@media screen and (max-width: 940px) {
  .breadCrumbs__container{
    width: 93.75%;
  }
}
  
@media screen and (max-width: 425px) {
  .breadCrumbs__container{
    width: 90%;
  }

  .breadCrumbs__imgItem{
    width: 20px;
    height: 20px;
  }

  .breadCrumbs__text{
    font-size: 10px;
    line-height: 12px;
  }

  .breadCrumbs__img{
    width: 10px;
    height: 15px;
  }
}