.burgerMenu{
  display: none;
  justify-content: center;
  position: fixed;
  top: 55px;
  left: 0;
  height: 100%;
  background-color: #F8F8F8;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.burgerMenu_is_opened{
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: #ffffff;
}

.burgerMenu__container{
  width: 93.75%;
}

.burgerMenu__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.burgerMenu__logo{
  width: 106px;
  height: 92px;
  object-fit: contain;
}

.burgerMenu__title{
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
}

.burgerMenu__menu{
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.burgerMenu__menu::-webkit-scrollbar {
  display: none;
}

.burgerMenu__menuItems{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.burgerMenu__menuItem{
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #268237;
  cursor: pointer;
  position: relative;
  margin-right: 17px;
  text-align: right;
}

.burgerMenu__menuItem::after{
  position: absolute;
  top: -5px;
  right: -15px;
  content: url("../../img/button_accordeon.svg");
  width: 11px;
  height: 36px;
}

.burgerMenu__menuItem:hover{
  color: #000;
}

.burgerMenu__menuItem .burgerMenu__img{
  cursor: pointer;
}

.burgerMenu__menuItem:hover .burgerMenu__img{
  background-image: url('../../img/button_accordeon_black.svg');
}

.burgerMenu__subItems{
  display: none;
}

.burgerMenu__subItems_is_open{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 0;
}

.burgerMenu__subItem{
  text-align: end;
  margin: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  color:#268237;

  list-style-type: none;
}

.burgerMenu__subItem:hover{
  color: #000;
}

.burgerMenu__link{
  text-decoration: none;
  color: inherit;
}