.content{
  margin-bottom: 80px;
}

.countent__container{
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 40px;
}

.content__button{
  margin: 0 auto;
  display: block;

  width: 38.15vw;
  height: 50px;

  border: 3px solid #268237;
  background-color: transparent;
  border-radius: 6px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #268237;

  cursor: pointer;
  transition: all 0.25s ease;
}

.content__button:hover{
  color: #fff;
  background-color: #268237;
}

.content__button_size_desktop{
  display: block;
}

.content__button_size_mobile{
  display: none;
}

@media screen and (max-width: 1280px) {
  .countent__container{
    width: 85.94%;
  }
}

@media screen and (max-width: 940px) {
  .content{
    margin-bottom: 50px;
  }

  .countent__container{
    width: 93.75%;
    display: block;

    margin-bottom: 0;
  }

  .content__button_size_desktop{
    display: none;
  }

  .content__button_size_mobile{
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .countent__container{
    width: 90%;
  }
}