.documents{
  margin-bottom: 80px;
}

.documents__container{
  width: 90%;
  margin: 0 auto
}

.documents__title{
  margin: 0;
  font-size: 32px;
  line-height: 50px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;

  padding-bottom: 20px;
}

.documents__items{
  padding: 0;
  margin: 0;
  list-style-type: none;

  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  padding-bottom: 15px;
}

.documents__item{
  margin: 0;
  padding-bottom: 27px;
}

.documents__subItems{
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.documents__subItem{
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Georgia', Arial, sans-serif;

  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;

  cursor: pointer;
}

.documents__subItem:hover{
  color: #268237;
}

.documents__link{
  width: auto;
  height: 100%;
  text-decoration:  none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .documents__title{
    font-size: 24px;
  }

  .documents__items{
    font-size: 18px;
  }

  .documents__subItem{
    font-size: 18px;
  }
}