.event{
  width: 90%;
  margin: 0 auto;
}

.event__img{
  width: 100%;
  height: 832px;
  object-fit: cover;

  padding-bottom: 80px;
}

.event__title{
  margin: 0;
  font-size: 64px;
  line-height: 68px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;

  width: 79.24%;
  margin: 0 auto;
  padding-bottom: 18px;
}

.event__time{
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Georgia', Arial, sans-serif;

  width: 79.24%;
  margin: 0 auto;
  padding-bottom: 18px;

  display: block;
}

.event__text{
  width: 79.24%;
  margin: 0 auto;

  padding-bottom: 80px;
}

.event__article{
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Georgia', Arial, sans-serif;

  padding-bottom: 18px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.slides {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slide {
  flex: 0 0 33.33%; /* Each slide takes up one-third of the container */
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}