.event-main {
  width: 100%;
  box-shadow: 0 2px 5px #f1f1f1;
  margin-bottom: 30px;
  cursor: pointer;

  position: relative;
  height: 440px
}

.event-main:last-of-type{
  margin-bottom: 0;
}
  
.event-main:hover {
  transition: all 0.3s ease;
  box-shadow: 0 7px 10px #737272;
}

.event-main__link{
  text-decoration: none;
  display: block;
}

.event-main__img{
  width: 100%;
  height: 440px;
  object-fit: cover;
}

.event-main__container{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  position: absolute;
  top: 50%; 
  transform: translate(0, -50%);
  left: 40px;
}

.event-main__description{
  box-sizing: border-box;
  padding: 20px 18px 20px 18px;
  width: 48.1%;
  height: 100%;
}

.event-main__description_type_two{
  background-color: rgba(255, 255, 255, .82);
  border-radius: 20px;
}

.event-main__time{
  display: block;
  text-align: center;
  padding-bottom: 40px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Georgia', Arial, sans-serif;

  color: #000;
}

.event-main__title{
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'Montserrat', Arial, sans-serif;

  color: #000;
}

.event-main__line{
  margin: 0 auto;
  width: 100px;
  height: 1px;
  background-color: #000;
  color: #000;

  margin-bottom: 18px;
}

.event-main__text{
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Georgia', Arial, sans-serif;
    
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.event-main__buttonContainer {
  width: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.event-main__button {
  border: 0;
  background-color: transparent;
  color: #268237;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: 'Georgia', Arial, sans-serif;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
  
.event-main__buttonImg {
  background-image: url(../../img/button_to.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 6px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
  
.event-main__button:hover {
  color: black;
}
  
.event-main__button:hover .event-main__buttonImg {
  background-image: url(../../img/button_to_black.svg);
}
   
.event-main__imgEvent {
  width: 40.88%;
  height: 366px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
  
.event-main:hover .event-main__imgEvent {
  transform: scale(1.02);
}

@media screen and (max-width: 1380px) {
  .event-main__description{
    padding: 20px 18px 20px 18px;
  }
    
  .event-main__title{
    font-size: 20px;
    line-height: 30px;
  }

  .event-main__text{
    -webkit-line-clamp: 3;
    font-size: 16px;
    line-height: 24px;
  }

  .event-main__buttonContainer {
    width: 102px;
  }

  .event-main__button {
    font-size: 16px;
    line-height: 20px;
  }

  .event-main__imgEvent {
    height: 312px;
  }
}

@media screen and (max-width: 1280px) {
  .event-main__time {
    padding-bottom: 25px;
  }

  .event-main__container{
    padding: 20px 0;
  }
}


@media screen and (max-width: 1080px) {
  .event-main__imgEvent {
    width: 40%;
  }

  .event-main__description{
    padding: 20px 10px 10px 10px;
  }
}
  