.event{
  margin-bottom: 80px;
  width: 100%;
}

.event__container{
  width: 90%;
  margin: 0 auto;
}

.event__img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.event__img, .event__container{
  padding-bottom: 80px;
}

.event__description{
  margin: 0 auto;
  width: 82.72%;
}

.event__title{
  margin: 0;
  font-size: 64px;
  line-height: 71px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
}

.event__time{
  margin: 0;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Georgia', Arial, sans-serif;
  display: block;
}

.event__title, .event__time{
  padding-bottom: 30px;
}

.event__article{
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Georgia', Arial, sans-serif;
}

.event__button{
  margin: 0 auto;
  display: block;

  width: 38.15vw;
  height: 50px;

  border: 3px solid #268237;
  background-color: transparent;
  border-radius: 6px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #268237;

  cursor: pointer;
  transition: all 0.25s ease;
}

.event__button:hover{
  color: #fff;
  background-color: #268237;
}

.event__linkToMain{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1280px) {
  .event__container{
    width: 93.98%;
  }

  .event__description{
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .event{
    margin-bottom: 60px;
  }

  .event__container{
    width: 100%;
  }

  .event__img{
    width: 100%;
  }

  .event__description{
    width: 85.94%;
  }

  .event__img, .event__container{
    padding-bottom: 60px;
  }

  .event__title{
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .event{
    margin-bottom: 50px;
  }

  .event__description{
    width: 90%;
  }

  .event__title{
    font-size: 24px;
  }

  .event__time{
    font-size: 20px;
    line-height: 23px;
  }

  .event__title, .event__time{
    padding-bottom: 15px;
  }

  .event__article{
    font-size: 20px;
    line-height: 25px;
  }
  
  .event__img, .event__container{
    padding-bottom: 30px;
  }
}