.footer{
  background-color: #F8F8F8;
}

.footer__container{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}

.footer__mainInfo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  padding-bottom: 40px;
}

.footer__logo{
  width: 170px;
  height: 150px;
  object-fit: contain;
}

.footer__title{
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;
}

.footer__titleBold{
  font-weight: 600;
}

.footer__info{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  column-gap: 96px;

  align-items: start;
  justify-content: space-between;
}

.footer__contactInfo{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
}

.footer__address{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 10px;
}

.footer__tel{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;

  text-decoration: none;
  color: #000;
  padding: 10px;
}

.footer__tel:hover{
  color: #268237;
}

.footer__email{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;

  text-decoration: none;
  color: #000;
  padding: 10px;
}

.footer__email:hover{
  color: #268237;
}

.footer__menu{
  padding: 10px;
}

.footer__items{
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer__item{
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Montserrat', Arial, sans-serif;

  color: #000;

  cursor: pointer;
}

.footer__item:hover{
  color: #268237;
}

.footer__link{
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.footer__social{
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  padding: 20px;
}

.footer__linkSocial{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}

.footer__imgSocial{
  width: 40px;
  height: 40px;

  object-fit: contain;
}

.footer__description{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  
  text-decoration: none;
  color: #000;

  cursor: pointer;
}

.footer__description:hover{
  color: #268237;
}

@media screen and (max-width: 1280px) {
  .footer__container{
    width: 85.94%;
  }

  .footer__contactInfo{
    row-gap: 15px;
  }

  .footer__logo{
    width: 106px;
    height: 92px;
  }
}

@media screen and (max-width: 940px) {
  .footer__container{
    width: 93.75%;
  }

  .footer__mainInfo{
    padding-bottom: 20px;
  }

  .footer__title{
    font-size: 18px;
    line-height: 26px;
  }
  
  .footer__item, .footer__address, .footer__tel, .footer__email{
    font-size: 18px;
    line-height: 26px;
  }

  .footer__info{
    display: block;
  }

  .footer__social{
    margin-left: auto;
  }
}

@media screen and (max-width: 425px) {
  .footer__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__mainInfo{
    flex-direction: column;
  }

  .footer__menu {
    display: flex;
  }

  .footer__title {
    text-align: center;
  }
  
  .footer__contactInfo{
    display: flex;
    align-items: flex-start;
  }
}