.header-first{
  background-color: #F8F8F8;
}

.header-first__container{
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
}

.header-first__link{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header-first__imgLink{
  height: 50px;
  width: 100px;
  object-fit: contain;
}

.header-first__nameLink{
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #268237;
}

.header-first__nameLink:hover{
  color: #000;
}

.header-first__nameLink:hover{
  color: #000;
}

@media screen and (max-width: 1280px) {
  .header-first__container{
    width: 85.94%;
  }
}

@media screen and (max-width: 940px) {
  .header-first__container{
    width: 93.75%;
  }

  .header-first__imgLink{
    height: 35px;
    width: 64px;
  }

  .header-first__nameLink{
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 425px) {
  .header-first__container{
    width: 90%;
  }

  .header-first__imgLink{
    height: 20px;
    width: 40px;
  }

  .header-first__nameLink{
    font-size: 10px;
    line-height: 12px;
  }
}