.header-first{
  background-color: #F8F8F8;
}

.header-first__container{
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  margin: 0 auto;
}

.header-first__link{
  text-decoration: none;
  cursor: pointer;
}

.header-first__imgLink{
  height: 54px;
  width: 108px;
  object-fit: contain;
}

.header-first__nameLink{
  margin: 0;
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #268237;
}

.header-first__nameLink:hover{
  color: #000;
}


@media screen and (max-width: 1024px) {
  .header-first__container{
    width: 85.94%
  }

  .header-first__imgLink{
    height: 54px;
    width: 90px;
  }

  .header-first__nameLink{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header-first__container{
    height: 37px;
    padding: 13px 0;
  }

  .header-first__container{
    width: 93.75%
  }

  .header-first__imgLink{
    height: 36px;
    width: 66px;
  }
}

@media screen and (max-width: 320px) {
  .header-first__container{
    height: 23px;
    padding: 11px 0;
  }

  .header-first__container{
    width: 90%
  }

  .header-first__imgLink{
    height: 23px;
    width: 45px;
  }

  .header-first__nameLink{
    font-size: 10px;
  }
}