.menu{
  width: 90%;
}

.menu_size_destop{
  position: absolute;
  top: 0px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.menu_size_mobile{
  display: none;
}

.menu__homePage{
  cursor: pointer;
}

.menu__container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding: 20px 0;
}

.menu__items{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin: 0;
}
  
.menu__item{
  list-style-type: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;

  position: relative;

  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
}

.menu__item:hover{
  color: #268237;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.menu__fontIncrease{
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 16px;
  cursor: pointer;
}

.menu__burgerMenuImg{
  display: block;
  background-image: url('../../img/button_glasses_white.svg');
  width: 64px;
  height: 21px;
  object-fit: contain;
}

.menu__burgerMenuImg:hover{
  background-image: url('../../img/button_glasses_hover.svg');
}

/*///////////////////////////////////////////////////////*/

.menu__subItems{
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: max-content;
  background-color: rgba(57, 57, 57, .60);
  list-style-type: none;
  padding: 5px 0;

  border-left: 4px solid #268237;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .6);
}

.menu__subItem{
  cursor: pointer;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;

  padding: 5px 10px;
}

.menu__link{
  text-decoration: none;
  color: inherit;
}

.menu__subItem:hover{
  color: #268237;
  background-color: rgba(255, 255, 255, .43);
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.menu__item:hover .menu__subItems{
  display: block;
}

/*///////////////////////////////////////////////////////*/

.menu_theme_white{
  padding: 20px 0;
  position: static;
  top: auto;
  left: auto;
  margin: 0 auto;
  transform: none;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__logo{
  width: 173px;
  height: 150px;
  object-fit: contain;
}

.menu__item_theme_white{
  color: #268237;
  text-shadow: 0 2px 2px rgba(113, 113, 113, 0.4);
}

.menu__item_theme_white:hover{
  color: #000;
  text-shadow: 0 2px 2px rgba(113, 113, 113, 0.4);
}

.menu__fontIncrease_theme_white{
  background-image: url('../../img/button_glasses_hover.svg');
}

.menu__fontIncrease_theme_white:hover{
  background-image: url('../../img/button_glasses_black.svg');
}

.menu__subItems_theme_white{
  background-color: rgba(210, 210, 210, .71);
  border-left: 4px solid #268237;
}

.menu__subItem_theme_white{
  color: #000;
  text-shadow: 0 1px 1px rgba(173, 173, 173, 0.4);
}

/*///////////////////////////////////////////////////////*/

@media screen and (max-width: 1380px) {
  .menu__logo{
    width: 150px;
    height: 119px;
  }

  .menu__items_theme_white, .menu__container_theme_white{
    gap: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .menu{
    width: 85.94%;
  }

  .menu__container, .menu__items{
    gap: 20px;
  }

    .menu__items_theme_white, .menu__container_theme_white{
    gap: 15px;
  }

  .menu__item{
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1110px) {
  .menu__item_theme_white{
    font-size: 18px;
    line-height: 22px;
  }

  .menu__container{
    padding: 15px 0;
  }

  .menu__logo{
    width: 126px;
    height: 95px;
  }
}

@media screen and (max-width: 990px) {
  .menu__item{
    font-size: 18px;
    line-height: 30px;
  }

  .menu__item_theme_white{
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 940px) {
  .menu{
    width: 100%;
    background: #fff;
    z-index: 100;
    box-shadow: 0px -4px 20px 3px rgba(0,0,0,.1)
  }

  .menu__logo{
    width: 102px;
    height: 87px;
  }

  .menu_size_destop{
    display: none;
  }

  .menu_size_mobile{
    display: block;
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
  }

  .menu__container{
    gap: 0;
    width: 93.75%;
    margin: 0 auto;
    padding: 0;
  }

  .menu__home, .menu__fontIncrease, .menu__burgerMenu, .menu__closeMenu{
    width: 105px;
    height: 56px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
  }

  .menu__home:hover, .menu__fontIncrease:hover, .menu__burgerMenu:hover, .menu__closeMenu:hover{
    box-shadow: 0px -4px 20px 3px rgba(0,0,0,.1);
  }

  .menu__burgerMenu{
    display: flex;
  }

  .menu__burgerMenu_is_openedMenu{
    display: none;
  }

  .menu__closeMenu{
    display: none;
  }

  .menu__closeMenu_is_openedMenu{
    display: flex;
  }
  
  .menu__homeImg{
    background-image: url('../../img/button_home_green.svg');
    width: 30px;
    height: 30px;
  }

  .menu__fontIncreaseImg{
    background-image: url('../../img/button_glasses_hover.svg');
    width: 50px;
    height: 18px;
  }

  .menu__burgerMenuImg{
    background-image: url('../../img/button_burger_green.svg');
    width: 27px;
    height: 27px;
  }

  .menu__closeMenuImg{
    background-image: url('../../img/button_close.svg');
    width: 25px;
    height: 25px;
  }

  .menu__homeImg:hover{
    background-image: url('../../img/button_home_black.svg');
  }

  .menu__fontIncreaseImg:hover{
    background-image: url('../../img/button_glasses_black.svg');
  }

  .menu__burgerMenuImg:hover{
    background-image: url('../../img/button_burger_black.svg');
  }

  .menu__closeMenuImg:hover{
    background-image: url('../../img/button_close_black.svg');
  }

  .menu__homeImg, .menu__fontIncreaseImg, .menu__burgerMenuImg, .menu__closeMenuImg{
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 525px) {
  .menu__logo{
    width: 70px;
    height: 60px;
  }

  .menu__container{
    justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .menu__container{
    width: 90%;
  }
}