.root{
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #000;
}

.root::-webkit-scrollbar {
  display: none;
}
 
.root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root_is_menuOpened{
  overflow-y: hidden;
}