.school-info{
  padding-bottom: 80px;
}

.school-info__container{
  width: 90%;
  margin: 0 auto;
}

.school-info__title{
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, sans-serif;
  padding-bottom: 40px;
}

.school-info__content{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 60px;
}

.school-info__navigation{
  flex-basis: 230px;
  min-width: 230px;
}

.school-info__navigation_size_desktop{
  display: block;
}

.school-info__navigation_size_mobile{
  display: none;
}

.school-info__items{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.school-info__item{
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;

  color: #268237;
  cursor: pointer;

  width: 100%;
  margin-bottom: 10px;

  border-left: 3px solid #268237;
  background-color: #f8f8f8;
}

.school-info__item:hover{
  color: #fff;
  background-color: #268237;
}

.school-info__item_active{
  color: #fff;
  background-color: #268237;
}

.school-info__link{
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1380px) {

}

@media screen and (max-width: 1280px) {
  .school-info__container{
    width: 85.94%;;
  }
}

@media screen and (max-width: 940px) {
  .school-info{
    width: 100%;
  }

  .school-info__container{
    width: 93.75%;
  }

  .school-info__content{
    flex-direction: column;
    column-gap: 0;

    position: relative;
  }

  .school-info__navigation{
    flex-basis: 0;
    width: 100%;
  }

  .school-info__navigation_size_desktop{
    display: none;
  }

  .school-info__navigation_size_mobile{
    display: block;
  }

  .school-info__title{
    font-size: 32px;
    line-height: 40px;
  }

  .school-info__button{
    background-color: transparent;
    border: 0;
    cursor: pointer;

    margin-left: auto;
    margin-right: 0;

    text-align: right;
    width: 100%;
    border-bottom: 1px solid #000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 40px;
  }

  .school-info__activeItem{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-family: 'Montserrat', Arial, sans-serif;

    color: #268237;

    text-align: left;
  }

  .school-info__buttonImg{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #000 transparent transparent transparent;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;

    cursor: pointer;
  }

  .school-info__button:hover{
    border-bottom: 1px solid #268237;
  }

  .school-info__button:hover .school-info__buttonImg{
    border-color: #268237 transparent transparent transparent;
  }

  .school-info__buttonImg_is_active{
    transform: rotate(180deg);
  }

  .school-info__items{
    display: none;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin: 30px 0;
  }

  .school-info__items_is_active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    background-color: #ffffff;
  }

  .school-info__item{
    display: block;

    border: 0;
    color: #268237;
    border-radius: 5px;

    background-color: #fff;
  }

  .school-info__link{
    padding: 15px 10px;
  }

  .school-info__item_active{
    color: #fff;
    background-color: #268237;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
  .school-info{
    padding-bottom: 50px;
  }

  .school-info__container{
    width: 90%;
  }

  .school-info__title{
    font-size: 24px;
    line-height: 28px;
  }
}