body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  
.slideShow {
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
  
.slideShow__container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  transition: transform 0.9s ease-out;
}
  
.slideShow__slide {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 0 30px;
  height: 533px;
  overflow: hidden;
}
  
.slideShow__img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
  
.slideShow__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(248, 248, 248, .60);
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.slideShow__button:hover{
  background-color: rgba(154, 151, 151, 0.6);
}

.slideShow__button_isnactive{
  display: none;
}
  
.slideShow__next {
  background-image: url('../../img/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  z-index: 9;
}
  
.slideShow__prev {
  background-image: url('../../img/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  z-index: 9;
}

@media screen and (max-width: 1380px) {
  .slideShow {
    margin-bottom: 80px;
  }

  .slideShow__slide{
    height: 42.57vw;
  }
}

@media screen and (max-width: 940px) {
  .slideShow {
    margin-bottom: 60px;
  }

  .slideShow__slide{
    height: 41vw;
  }
}

@media screen and (max-width: 425px) {
  .slideShow {
    margin-bottom: 30px;
  }

  .slideShow__slide{
    height: 30vw;
  }
}